#imagen{
    background-image: url(../img/Cervezas-Artesanales-Esquire-W-add-.jpg);
    background-size: cover;
    height: 600px;
    align-items: center;
    .bienvenida {
        font-size: $textoGrande;
        color: antiquewhite;
        position: relativess;
        text-align: center;
        padding-top: 200px;
    }
}

.secFundador{
    text-align: center;
    .descripcion{
        color: map-get($colores, secondary);
        font-style: normal;
        font-size: $textoChico;
    
    }
}

.fundador {
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    }
.fundador:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}

#medallas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .medalla p{
        color: map-get($colores, alternativo);
        font-size: $textoChico;
   }
}


.medalla:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
    transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 480px){
    #medallas{
        display: flex;
        flex-direction: column;
    }
    .bienvenida{
        font-size: 2em;
        padding-top: 100px;
    }
    .fundador{
        width: 300px;
        object-fit: cover;
    }
}
.presBienvenida{
    font-size: 0.5em;
}



